<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlphaFS" version="2.2.6" targetFramework="net462" />
  <package id="AlphaFS.New" version="2.3.0" targetFramework="net462" />
  <package id="AlphaVSS" version="2.0.3" targetFramework="net462" />
  <package id="AlphaVSS.Native.NetFx" version="2.0.3" targetFramework="net462" />
  <package id="Amcache" version="1.3.1" targetFramework="net462" />
  <package id="AppCompatCache" version="1.2.4" targetFramework="net462" />
  <package id="CsvHelper" version="33.1.0" targetFramework="net462" />
  <package id="DeviceIOControlLib" version="0.1.6" targetFramework="net462" />
  <package id="ERZHelpers" version="1.5.2" targetFramework="net462" />
  <package id="ExtensionBlocks" version="1.4.2" targetFramework="net462" />
  <package id="GuidMapping" version="1.3.0" targetFramework="net462" />
  <package id="iNKORE.UI.WPF" version="1.2.8" targetFramework="net462" />
  <package id="iNKORE.UI.WPF.Modern" version="0.10.1" targetFramework="net462" />
  <package id="KaitaiStruct.Runtime.CSharp" version="0.11.0" targetFramework="net462" />
  <package id="Lnk" version="1.5.1" targetFramework="net462" />
  <package id="LTRData.DiscUtils.Core" version="1.0.49" targetFramework="net462" />
  <package id="LTRData.DiscUtils.Ntfs" version="1.0.49" targetFramework="net462" />
  <package id="LTRData.DiscUtils.Streams" version="1.0.49" targetFramework="net462" />
  <package id="LTRData.Extensions" version="1.0.11" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net462" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net462" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net462" />
  <package id="NFluent" version="3.1.0" targetFramework="net462" />
  <package id="Prefetch" version="1.3.0" targetFramework="net462" />
  <package id="RawDiskLib" version="0.2.1" targetFramework="net462" />
  <package id="Registry" version="1.5.1" targetFramework="net462" />
  <package id="Serilog" version="4.3.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.1" targetFramework="net462" />
  <package id="System.Memory" version="4.5.5" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net462" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net462" />
  <package id="System.Text.Encoding.CodePages" version="9.0.5" targetFramework="net462" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net462" />
  <package id="System.Threading.Channels" version="8.0.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="WmiLight" version="6.10.0" targetFramework="net462" />
</packages>